Package: assistance-tmate
Version: 200427.1408
Section: base
Priority: optional
Architecture: all
Depends: tmate, xclip
Maintainer: Christian Pottier <christian.pottier@univ-angers.fr>
Description: Assistance avec tmate
