[Desktop Entry]
Version=1.0
Type=Application
Name=Installation (ou maj) spotify
Comment=Installation ou maj spotify
Exec=sudo bash task.sh spotify
Icon=software-update-available
Path=/opt/ansible/madeb13/
Terminal=true
StartupNotify=false
Categories=madeb;
