[Desktop Entry]
Version=1.0
Type=Application
Name=Installation madeb
Comment=Installation compléments Debian
Exec=madeb
Icon=software-update-available
Path=
Terminal=true
StartupNotify=false
Categories=Application;System;
