[Desktop Entry]
Version=1.0
Type=Application
Name=Installation (ou maj) freetube
Comment=Installation ou maj freetube
Exec=sudo bash task.sh freetube
Icon=software-update-available
Path=/opt/ansible/madeb13/
Terminal=true
StartupNotify=false
Categories=madeb;
