[Desktop Entry]
Version=1.0
Type=Application
Name=MaMaj
Comment=Maj système + autres maj...
Exec=MaMaj
Icon=software-update-available
Path=
Terminal=true
StartupNotify=false
Categories=madeb;
