Package: monassistance
Version: 210215.0818
Section: base
Priority: optional
Architecture: all
Depends: autossh, openssh-server, zenity, vino, dconf-editor
Maintainer: Christian Pottier <christian.pottier@univ-angers.fr>
Description: Mon Assistance avec tunnel reverse ssh
