# Chemin du partage (obligatoire)
PATH_SHARE='//xxxx'
# Nom du partage si différent du nom du fichier de config
#NAME_SHARE='xxx'
# Chemin du point de montage (sans la racine) si différent de : home/${USER_LOCAL}/${NAME_SHARE}
#PATH_MOUNT='xxx'
# Chemin du credential si différent de PATH_CRED="/tmp/.cred_${USER_LOCAL}_${NAME_SERVER}"
#PATH_CRED='xxxx'
# Chemin des templates et nom si différent de /etc/user-mount/template_user pour template_user.mount et template_user.automount
#PATH_TEMPLATE='xxx'
