[Desktop Entry]
Version=1.0
Type=Application
Name=Mon Assistance
Comment=Assistance directe chris.pottier@free.fr
Exec=monassistance
Icon=help-browser
Path=
Terminal=true
StartupNotify=false
Categories=Application;System;

