[Desktop Entry]
Version=1.0
Type=Link
Name=France 2 en direct
Comment=
Icon=/opt/maTV/icons/france-2-invert.svg
URL=https://www.france.tv/france-2/direct.html
