[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Exec='/usr/local/bin/exAudioMp3.sh' %f
Name=exAudioMp3
Comment=Extrait Audio en Mp3
NoDisplay=true
MimeType=video/webm;video/mp4;
