Package: epuboptim
Version: 250205.1524
Section: base
Priority: optional
Architecture: all
Depends: bash
Maintainer: Christian Pottier <christian.pottier@univ-angers.fr>
Description: Optimisation fichier epub
